.card {
   padding: 1rem;
   background-color: white;
   border-radius: 15px;
   max-width: fit-content;
}

.card h2 {
   font-size: 1.5rem;
   margin-bottom: 0.5rem;
   text-align: center;
}

.container {
   /* center both vertically and horizontally */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
}
.form-group {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 1rem;
}
.form-group input {
   width: 100%;
   padding: 0.5rem;
   border-radius: 5px;
   border: 1px solid #ccc;
   margin: 1rem;
}
.btn {
   width: 100%;
   padding: 0.5rem;
   border-radius: 5px;
   border: 1px solid #ccc;
   margin: 1rem;
   background-color: #010101;
   color: #efefef;
   font-size: medium;
   font-weight: bold;
}

.btn:hover {
   background-color: #3f3f3f;
   cursor: pointer;
}
